* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
    font-size: 62.5%;
}

body {
    font-family: "Josefin", sans-serif;
    background-color: #212f3d;
}

h1 {
    font-size: 3.6rem;
    margin-top: 4.8rem;
}

hr {
    margin-bottom: 3.2rem;
}

.inputSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p,li,button {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-family: "Urbanist", sans-serif;
    line-height: 1.6;
}

p {
    cursor: pointer;
}

button {
background-color: #68664c;
margin-top: 1rem;
padding: 0.6rem 2.4rem;
border-radius: 10rem;
/* margin-right: 3.6rem; */
cursor: pointer;
transition: all 0.3s linear;

    &:hover {
        box-shadow: inset 0 0 0 0.2rem #ebe8ae;
        background-color: transparent;
        color: #aca31d;
    }
}
  
.para:hover {
    color: red;
    cursor: pointer;
}
  